@import "tailwindcss";

/* Tailwind themes */

@theme {
  --color-primary: #B9FF66;
  --color-secondary: #191A23;
  --color-tertiary: #F3F3F3;
}

@layer components {
  .section-heading {
    background-color: var(--color-primary);
    padding: 4px;
    text-align: center;
    border-radius: 7px;
    font-size: 1.7rem;
    font-weight: 600;
    width: max-content
  }

  .service-card-shadow {
    box-shadow: 0px 5px var(--color-secondary);
  }

  .cards-swipe {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
}

/* Sitewide styles */
#root {
  overflow-x: clip;
}

* {
  font-family: "Space Grotesk", sans-serif;
  list-style-type: none;
}
