@import "tailwindcss";

/* Tailwind themes */

@theme {
  --color-primary: #B9FF66;
  --color-secondary: #191A23;
  --color-tertiary: #F3F3F3;
}

/* Sitewide styles */
#root {
  overflow-x: clip;
}

* {
  font-family: "Space Grotesk", sans-serif;
  list-style-type: none;
}
