@import "tailwindcss";

/* Tailwind themes */

@theme {
  --color-primary: #B9FF66;
  --color-secondary: #191A23;
  --color-tertiary: #F3F3F3;
}

@layer components {
  .section-heading {
    background-color: var(--color-primary);
    padding: 4px;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    width: min-content;
  }
}

/* Sitewide styles */
#root {
  overflow-x: clip;
}

* {
  font-family: "Space Grotesk", sans-serif;
  list-style-type: none;
}
