@import "tailwindcss";

/* Tailwind themes */

@theme {
  --color-primary: #B9FF66;
  --color-secondary: #191A23;
  --color-tertiary: #F3F3F3;
  --spacing-card: 40px 30px;
  --spacing-card-mob: 40px 50px;
  --breakpoint-xs: 25rem;
}

@layer components {
  .custom-radio {
    appearance: none;
    border: 1px solid black;
    background-color: red;
    position: relative;
    display: inline-block;
    border-radius: 50%;
  }

  .custom-radio:checked::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 55%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-primary);
  }

  .section-heading {
    background-color: var(--color-primary);
    padding: 4px;
    text-align: center;
    border-radius: 7px;
    font-size: 1.7rem;
    font-weight: 600;
    width: max-content
  }

  .service-card-shadow {
    box-shadow: 0px 5px var(--color-secondary);
  }

  .bubble::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 20px solid var(--color-primary);
  }

  .bubble::before {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 40px;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 20px solid var(--color-secondary);
  }

  .cards-swipe {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  blockquote p::before {
    content: "\201C";
  }

  blockquote p::after {
    content: "\201D";
  }



}

@layer utilities {
  .carousel-disabled {
    cursor: not-allowed;
    opacity: .3;
  }
}

/* Sitewide styles */
#root {
  overflow-x: clip;
}

.site {
  max-width: 1800px;
  margin: auto;
}

* {
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
  list-style-type: none;
}

textarea {
  scrollbar-width: 2px;
  resize: none;
}
